.parent {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  margin: 20px 10px;
}

.user-info {
    border: 1px solid black;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

img.user_image {
    width: 80%;
}