.parent {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  margin: 20px 10px;
}

.user-info {
  border: 2px solid black;
  padding: 0 20px;
  height: 160px;
}

.user_name {
  margin-bottom: 5%;
}

img.user_image {
  width: 80%;
  height: 160px;
  border: 2px solid black;
}

.user-bio {
  border: 2px solid black;
  margin: 11px;
  padding: 30px 5px;
}

.post_number {
  text-align: right;
}

.bio {
  padding: 5px;
}

.comment-box {
  border: 2px solid black;
  margin: 11px;
  padding: 5px;
}

.sub_comment {
  margin: 11px;
  padding: 5px;
  border: 1px solid beige;
}

.length {
  text-align: right;
}

.post_value {
  border: 2px solid black;
}

.line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments {
  border: 2px solid black;
}

.input_field{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

input#post_title {
  width: 41rem;
  height: 2rem;
  border-radius: 10px;
  margin: 20px;
  font-size: 15px;
}

textarea#post_text{
  width: 41rem;
  border-radius: 10px;
  font-size: 15px;
}

input.submit-btn{
  width: 41rem;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}