.parent {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  margin: 20px 10px;
}

.user-info {
    border: 2px solid black;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

img.user_image {
    width: 80%;
    height: 160px;
    border: 2px solid black;
}

.user-bio{
    border: 2px solid black;
    margin: 11px;
}

.bio{
  padding: 5px;
}